{% extends '::base.html.twig' %}

{% block body -%}


    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Customer Details</h3>

            </div>
        </div>


        <h1>&nbsp;</h1>
        {{ form_start(form) }}

        <div class="row">

            <div class="col-md-3 col-md-offset-3">
                <span class="form-labels">Name </span>
            </div>
            <div class="col-md-3 col-md-offset-0">
                <div class="form-group">

                    {{ form_widget(form.name, {'attr': {'class': 'form-control' } }) }}

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <span class="form-labels">Email Address*</span>
            </div>
            <div class="col-md-3 col-md-offset-0">
                <div class="form-group">

                    {{ form_row(form.email, {'attr': {'class': 'form-control'} }) }}

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group" style="display: inline-block">
                    <label>
                        {{ form_widget(form.receivemail) }} <span>I would like to receive email</span>
                    </label>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="form-group">
                    <label>
                        {{ form_widget(form.ppolicy) }} <span>I have read and agree to the privacy policy*</span>
                    </label>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <div class="form-group">
                    <label>
                        {{ form_widget(form.submit, {'attr':{'class':'btn btn-default'}}) }}
                    </label>
                </div>
            </div>

        </div>



        {{ form_end(form) }}

        <!-- Default form -->
        {#{ form(form) }#}


    </div>

{% endblock %}
