<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-3.3.4-dist/css/bootstrap.min.css') }}">

            <link rel="stylesheet" type="text/css" href="{{ asset('css/cover.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>


        {% block body %}{% endblock %}
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('css/bootstrap-3.3.4-dist/js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
