.form-labels{
    text-align: left;
}

input.fieldname{
    margin: 5px;
}

button.remove{
    margin: 5px;
}

.delbtn{
    margin: 5px;
}

.answers{
    margin-left: -39px;
}

.required{
    display: none;
}