{% extends 'base.html.twig' %}

{% block body %}


    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="text-center">Company Survey</h3>

                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Complete a Survey</h1>
                    <p class="lead">If you complete the survey, you will gat one free coupon. You can enjoy the food whenever and wherever you want!!!</p>
                    <p class="lead">
                        <a href="{{ path('customerdetails_new') }}" class="btn btn-lg btn-default">Start Survey</a>
                    </p>
                </div>



            </div>



        </div>

    </div>

{% endblock %}


