{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Thanks for participating in the survey</h3>

            </div>
        </div>

        <h1>&nbsp;</h1>

        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">One mail has sent to your mailing address with a</h3>
                <h1 class="text-center">coupon code</h1>
            </div>
        </div>




    </div>
{% endblock %}