{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h2 class="text-center">Survey Questions</h2>

            </div>
        </div>


        <form name="company_surveybundle_survey" method="get" action="/companysurvey/web/app_dev.php/survey/create">

            {% for question in questions %}
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                        <span class="form-labels"><h4 style="color: #a6e1ec">{{ question.question }}</h4></span>

                        <div class="form-group">
                            {% for answers in question.answers %}
                                <div class="{{ question.type }}">
                                    <label>
                                        <input type="{{ question.type }}" name="{{ question.id }}"
                                               value="{{ answers.id }}"> {{ answers.answer }}
                                    </label>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
            {% endfor %}



            <div class="row">
                <div class="col-md-4 col-md-offset-4 text-center">
                    <div class="form-group">
                        <label>
                            <input type="submit" class="btn btn-primary">
                        </label>
                    </div>

                </div>
            </div>

        </form>

        <!-- Dump -->
        <!--
        <form name="company_surveybundle_survey" method="get" action="/companysurvey/web/app_dev.php/survey/create">


            {% for question in questions %}
                <li>{{ question.question }}</li>
                <div>
                    {% for answers in question.answers %}

                        <input type="{{ question.type }}" name="{{ question.id }}"
                               value="{{ answers.id }}"> {{ answers.answer }}
                    {% endfor %}
                </div>
            {% endfor %}

            <input type="submit">
        </form>
        -->
        <!-- Dump -->
    </div>
{% endblock %}