<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap-3.3.4-dist/css/bootstrap.min.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/dashboard.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome-4.3.0/css/font-awesome.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Company Survey</a>
        </div>
        <!--
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
        -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="{{ path('question_overview') }}">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="{{ path('question') }}">Questions</a></li>
                <li><a href="{{ path('question_new') }}">Create New Question</a></li>
                <!--<li><a href="#">Export</a></li>-->
            </ul>
            <!--
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item</a></li>
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
                <li><a href="">More navigation</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Nav item again</a></li>
                <li><a href="">One more nav</a></li>
                <li><a href="">Another nav item</a></li>
            </ul>
            -->
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            {% block body %}{% endblock %}
        </div>

    </div>
</div>


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('css/bootstrap-3.3.4-dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jsfunctions.js') }}"></script>

    <script>
        var $collectionHolder;

        //setup an "add a answer" link
        var $addAnswerLink = $('<a href="#" class="add_answer_link btn btn-primary"><i class="fa fa-plus"> </i> Add Answer</a>');
        var $newLinkLi = $('<li style="text-decoration:none;"></li>').append($addAnswerLink);

        jQuery(document).ready(function() {
            // Get the ul that holds the collection of answers
            $collectionHolder = $('ul.answers');

            // add a delete link to all of the existing tag form li elements
            $collectionHolder.find('li').each(function() {
                addAnswerFormDeleteLink($(this));
            });

            // add the "add a answer" anchor and li to the answers ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addAnswerLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new answer form (see next code block)
                addAnswerForm($collectionHolder, $newLinkLi);
            });
        });

        function addAnswerForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            var newForm = prototype.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a answer" link li
            var $newFormLi = $('<li style="text-decoration: none;"></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            // add a delete link to the new form
            addAnswerFormDeleteLink($newFormLi);
        }

        function addAnswerFormDeleteLink($answerFormLi) {
            var $removeFormA = $('<a href="#" class="btn btn-danger delbtn" style="text-decoration: none;"><i class="fa fa-minus"></i></a>');
            $answerFormLi.append($removeFormA);

            $removeFormA.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // remove the li for the answer form
                $answerFormLi.remove();
            });
        }
    </script>
{% endblock %}
</body>
</html>
