{% extends 'CompanySurveyBundle:Question:admin.html.twig' %}

{% block body -%}
    <h1>Questions edit</h1>

    {{ form_start(edit_form) }}

    <div class="row">

        <div class="col-md-2 col-md-offset-2">
            <span class="form-labels">Question </span>
        </div>
        <div class="col-md-5 col-md-offset-0">
            <div class="form-group">

                {{ form_widget(edit_form.question, {'attr': {'class': 'form-control' } }) }}

            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-2 col-md-offset-2">
            <span class="form-labels">Answers </span>
        </div>
        <div class="col-md-5 col-md-offset-0">
            <div class="form-group">
                <ul class="answers" style="list-style-type: none;"
                    data-prototype="{{ form_widget(edit_form.answers.vars.prototype)|e }}">
                    {% for answer in edit_form.answers %}
                        <li>{{ form_row(answer.answer) }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-2 col-md-offset-2">
            <span class="form-labels">Type </span>
        </div>
        <div class="col-md-3 col-md-offset-0">
            <div class="form-group">
                {{ form_widget(edit_form.type, {'attr': {'class': 'form-control' } }) }}
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <div class="form-group">
                <label>
                    &nbsp;
                </label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-2 text-center">
            <span class="form-labels">{{ form_widget(edit_form.submit, {'attr':{'class':'btn btn-success btn-lg' }}) }} </span>
        </div>
        {{ form_end(edit_form) }}
        <div class="col-md-3 col-md-offset-0 text-center">
            <div class="form-group">
                <label>
                    {#{ form_widget(edit_form.submit, {'attr':{'class':'btn btn-success btn-lg' }}) }}#}
                    {{ form(delete_form) }}
                </label>
            </div>
        </div>

    </div>



    {#{ form(edit_form) }}#}
    <!--
    <ul class="record_actions">
        <li>
            <a href="{{ path('question') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
-->
{% endblock %}
