{% extends 'CompanySurveyBundle:Question:admin.html.twig' %}

{% block body -%}


    <div class="panel panel-default">
        <div class="panel-heading">Questions list</div>
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('question_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.question }}</td>
                    <td>{{ entity.type }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('question_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('question_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    <!--
    <ul>
        <li>
            <a href="{{ path('question_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    -->
{% endblock %}
