{% extends 'CompanySurveyBundle:Question:admin.html.twig' %}

{% block body -%}
    <h1>Questions creation</h1>


    {{ form_start(form) }}
    <div class="row">

        <div class="col-md-2 col-md-offset-2">
            <span class="form-labels">Question </span>
        </div>
        <div class="col-md-5 col-md-offset-0">
            <div class="form-group">

                {{ form_widget(form.question, {'attr': {'class': 'form-control' } }) }}

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2 col-md-offset-2">
            <span class="form-labels">Answers </span>
        </div>
        <div class="col-md-5 col-md-offset-0">
            <div class="form-group">

                <ul class="answers" style="list-style-type: none;"
                    data-prototype="{{ form_widget(form.answers.vars.prototype)|e }}">
                    {% for answer in form.answers %}
                        <li>{{ form_row(answer.answer) }}</li>
                    {% endfor %}
                </ul>

                <!-- <button type="button" class="btn btn-primary" id="add"><i class="fa fa-plus"> </i> Add Answer</button> -->

            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2 col-md-offset-2">
            <span class="form-labels">Type </span>
        </div>
        <div class="col-md-3 col-md-offset-0">
            <div class="form-group">

                {{ form_widget(form.type, {'attr': {'class': 'form-control' } }) }}

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <div class="form-group">
                <label>
                    &nbsp;
                </label>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4 text-center">
            <div class="form-group">
                <label>
                    {{ form_widget(form.submit, {'attr':{'class':'btn btn-success'}}) }}
                </label>
            </div>
        </div>

    </div>
    {{ form_end(form) }}

    {#{ form(form) }}#}



    <script>

    </script>
{% endblock %}
