{% extends '::base.html.twig' %}

{% block body -%}

    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <h3 class="text-center">Survey Questions</h3>

            </div>
        </div>

        <h1>&nbsp;</h1>

        {% for entity in entities %}
            <div class="row">

                <div class="col-md-4 col-md-offset-4 text-center">
                    {% set queAnss = entity.question|split(';') %}


                    {% for queAns in queAnss %}
                        <span class="form-labels">{{ queAns }} </span>
                        <div class="form-group">

                            {#{ entity.type }}#}
                            {{ queAns }}

                        </div>
                    {% endfor %}
                </div>

            </div>
        {% endfor %}

    </div>
{% endblock %}